.pokemon-list-card {
  display: grid;
  align-items: center;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 30px;
  padding-inline-start: 0;
  margin-top: 2em;
  width: 100vw;
}

@keyframes bounce {
  20% {
    transform: translateY(-6px);
  }

  40% {
    transform: translateY(0px);
  }

  80% {
    transform: translateY(-2px);
  }

  100% {
    transform: translateY(0);
  }
}

/* Types of Pokemon */
.water {
  background-color: var(--color-water);
}

.grass {
  background-color: var(--color-grass);
}

.poison {
  background-color: var(--color-poison);
}

.fire {
  background-color: var(--color-fire);
}

.bug {
  background-color: var(--color-bug);
}

.dragon {
  background: var(--color-dragon);
}

.flying {
  background-color: var(--color-flying);
}

.ground {
  background-color: var(--color-ground);
}

.steel {
  background-color: var(--color-steel);
}

.psychic {
  background-color: var(--color-psychic);
}

.ice {
  background-color: var(--color-ice);
}

.ghost {
  background-color: var(--color-ghost);
}

.normal {
  background-color: var(--color-normal);
}

.rock {
  background-color: var(--color-rock);
}

.electric {
  background-color: var(--color-electric);
}

.fighting {
  background-color: var(--color-fighting);
}

.fairy {
  background-color: var(--color-fairy);
}

.dark {
  background-color: var(--color-dark);
}
